.welcome-page {
    margin-top: 75px;
    text-align: center;
  }
  .login-form {
    margin-top: 50px;
  }
  .password-field {
    margin-left: 10px;
  }
  
  button {
    margin-top: 10px;
    margin-left: 15px;
  }
  
  .alert {
    margin-top: 10px;
    width: 30%;
    margin-left: 500px;
  }
  
  .spinner {
    margin-left: 700px;
    margin-top: 50px;
    justify-content: center;
  }
  